
   <div class="page-header">
        <div class="container">
            <h1>About AHISE</h1>
            <div class="breadcrumb-2">
                <ul class="breadcrumb">
                    <li><a href="home-version-1.html">Home</a></li>
                    <li class="active">About AHISE</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron" style="background-image: url(<%= image_path 'page-header-3.jpg' %>)">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                <h1 class="heading">We Are Coming Soon!</h1>
                 <ul class="timer" data-date="2018/03/31 23:59:59">           <!-- Put event Date in YYYY/MM/DD hh:mm:ss format -->
                    <li><span class="days">0</span>days</li>
                    <li><span class="hours">0</span>hrs</li>
                    <li><span class="minutes">00</span>min</li>
                    <li><span class="seconds">00</span>sec</li>
                </ul>
                    <h3 class="heading">AHISE (Ahyz) noun: <br>
                    The future of individualized healthcare beginning with the most important part, You. </h3>
                    <h4 style="color:#fff">Technology has been pushing the human race forward since the first caveman needed to create fire to provide warmth. Healthcare has been evolving at a rapid pace allowing humans to have a longer and better quality of life. Unfortunately, the information systems that accompany this glorious plethora of advancement, have lagged. 

                    Many offices and facilities are still using paper records for their patients. While the medical records remain in a file cabinet, they can get lost or misplaced. Even the digitized records are incomplete, due to the multiple physicians an individual sees in their lifetime.  The time for perfect information is here, let us be your AHISE into the evolution of personalized healthcare. 
                    </h4>
                     
                    <!-- <a href="about.html" class="btn btn-primary">Read More</a> &nbsp;&nbsp; <a href="why-us.html" class="btn btn-black">Why Medwise</a> -->
                </div>
                <div class="col-sm-4">
                   <!--  <div class="slider-box-appointment">
                        <div class="header">
                            <h3 class="heading font-2 text-center">Contact Us</h3>
                        </div>
                        <hr class="hr-2" />
                        <div class="body">
                            <form>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Your Name">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Your Email">
                                </div>
                                
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" placeholder="Your Message"></textarea>
                                </div>
                                <!-- <p class="text-muted">*Before you proceed, you may read our FAQs</p> -->
                                <!-- <button class="btn btn-black btn-block" type="submit">SEND MESSAGE</button> -->
                            <!-- </form> -->
                        <!-- </div> -->
                    <!-- </div>  -->
                </div>
            </div>
        </div>
    </div>
    