.rtl {
	text-align: right;
	/*float: right;*/
}

.card.rtl {
    float: right;
}

.rtl .form-control-lg {
    text-align: right;
}

.rtl .custom-checkbox .custom-control-label::before {
	right: 0;
	left: unset;
}

.rtl .custom-control-label::after{
	right: 0;
	left: unset;
}

.rtl .custom-control{
	padding-right: 1.5rem;
	padding-left: unset;
}

.rtl .card-footer-item-bordered:not(:last-child) {
	border-left: 1px solid rgb(230, 230, 242);
}

.field_with_errors {
	display: flex !important;
}

.rtl .top-search-bar {
    padding-left: 24px;
}

.rtl .m-auto {
	margin-right: auto !important;
	margin-left: 0px !important;
}

.m-auto {
	margin-right: 0px !important
	margin-left: auto !important; 
}

.rtl .navbar-right-top .nav-item:first-child {
    border: none;
}

.rtl .navbar-right-top {}

.rtl .navbar-right-top .nav-item {
    border-left: 1px solid #e6e6f2;
}

.rtl .dashboard-wrapper {
    right: 0;
    margin-right: 264px;
    min-height: 870px !important;
    left: unset;
    margin-left: unset;
}

.rtl .dashboard-main-wrapper {
    width: 100%;
}

.rtl .nav-left-sidebar .nav-link i {
    margin-left: 9px;
    margin-right: unset;
}

.rtl .nav-left-sidebar .nav-link[data-toggle="collapse"]::after {
   left: 20px;
   right: unset;
}

.rtl .nav-left-sidebar .nav-link[data-toggle="collapse"][aria-expanded="false"]::after {
    transform: rotate(90deg);
}

.rtl .navbar-nav {
   	padding-right: 0;
   	padding-left: unset;
 }

 .rtl .nav {
 	padding-right: 0;
   	padding-left: unset;	
 }

.rtl .dropdown-menu-right {
    left: 0;
    right: auto;
}

.rtl .nav-user-dropdown .dropdown-item {
    text-align: right;
}

.rtl .mr-2 {
	margin-left: .5rem !important;
}

.rtl .nav-user-info {
    text-align: center;
}

.rtl .page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  padding-left: .5rem;
  padding-right: .5rem;
  content: "\f104";
}

.rtl .fixed-table-container thead th:first-child:not([data-not-first-th]) {
  border-left: 1px solid #ddd;
}

.rtl .fixed-table-container tbody td:first-child {
  border-left: 1px solid #ddd;
}

.rtl .horizontal-line{
  border-right: 1px solid #ddd; 
  border-left: none;
}

.horizontal-line{
    border-left: 1px solid #ddd;
    border-right: none;

}

.rtl .dropdown-menu {
  text-align: right;
}

.rtl .bootstrap-table td a.active{
  color: #ff407b;
}

.rtl .add-item{
  position: absolute;
  top: 13px;
  left: 15px;
}

.rtl .flexdatalist-multiple li.value {
  float: right;
}

.rtl .flexdatalist-multiple li.input-container, .flexdatalist-multiple li.input-container input {
  float: right;
}

.flexdatalist-multiple {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #71748d;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d2e4 !important;
  border-radius: 2px !important;
  cursor: pointer;
}

.flexdatalist-multiple:focus {
  color: #71748d;
  background-color: #fff;
  border-color: #a7a7f0 !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(214, 214, 255, .75);
}

.flexdatalist-multiple:hover {
  color: #71748d;
  background-color: #fff;
  border-color: #a7a7f0 !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(214, 214, 255, .75);
}

.add-item{
  position: absolute;
  top: 13px;
  right: : 15px;
}

select.form-control {
  cursor: pointer;

}

select.form-control:hover {
    color: #71748d;
    background-color: #fff;
    border-color: #a7a7f0;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(214, 214, 255, .75);  
}